<!-- templates/ai_tutor/partials/chat_bubble.html -->
{% load markdown_extras %}

<div class="flex {% if not is_ai %} justify-end {% else %} justify-start {% endif %} mb-4">
    <div class="max-w-xl px-4 py-2 rounded-xl shadow
        {% if not is_ai %}
            bg-indigo-600 text-white
        {% else %}
            bg-white dark:bg-gray-700 text-gray-800 dark:text-gray-200
        {% endif %}">
        <div class="prose prose-sm dark:prose-invert max-w-none">
            {{ content|markdownify }}
        </div>
    </div>
</div>